////
/// @group Generic
////

/// Text color of anchors.
///
/// @type {Color}
$link-color: lighten(color(black), 15%) !default;

/// Text decoration of anchors.
///
/// @type {Keyword}
$link-decoration: underline !default;

/// Text color of anchors on hover.
///
/// @type {Color}
$link-hover-color: darken(color(black), 10%) !default;