<div class="field {{modifier_class}}">
  <div class="field__control checkbox">
    <input id="Checkbox" class="checkbox__input" type="checkbox" name="checkbox" checked>
    <label for="Checkbox" class="checkbox__label">Checkbox</label>
  </div>
</div>

<div class="field {{modifier_class}}">
  <label class="field__label label">Radio</label>
  <div class="field__control radio">
    <input id="Radio" class="radio__input" type="radio" name="radio" checked>
    <label for="Radio" class="radio__label">Option</label>
  </div>
</div>