/// Collection of colors.
///
/// @type {Map}
/// @prop {Color} primary
/// @prop {Color} secondary
/// @prop {Color} complementary
/// @prop {Color} success
/// @prop {Color} warning
/// @prop {Color} error
/// @prop {Color} info
/// @prop {Color} white
/// @prop {Color} lighter-gray
/// @prop {Color} light-gray
/// @prop {Color} gray
/// @prop {Color} dark-gray
/// @prop {Color} darker-gray
/// @prop {Color} black
$colors: (
    primary: #6c3fce,
    secondary: #543793,
    complementary: #FF861D,
    success: #26c65e,
    warning: #ffde66,
    error: #ec3953,
    info: #3273dc,
    white: #fff,
    lighter-gray: #f6f6f6,
    light-gray: #d7dfe6,
    gray: #79858c,
    dark-gray: #586973,
    darker-gray: #425059,
    black: #171C1F,
) !default;

/// Base line height determines the basic unit of vertical rhythm.
///
/// @type {Number}
$line-height: 1.5 !default;

/// Base font size set on the root html element.
///
/// @type {Value}
$font-size: 16px !default;

/// Base font size set on the root html element.
///
/// @type {Color}
$font-color: lighten(get-color(black), 25%) !default;

/// Antialiase fonts.
///
/// @type {Boolean}
$font-antialiasing: true !default;

/// Default font family.
///
/// @type {Value|Values}
$font-family-primary: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Serif font family.
///
/// @type {Value|Values}
$font-family-secondary: 'Palatino Linotype', 'Book Antiqua', 'Palatino', 'Georgia', serif !default;

/// Monospace font family.
///
/// @type {Value|Values}
$font-family-monospace: 'Lucida Console', 'Monaco', monospace !default;

/// Text color of anchors.
///
/// @type {Color}
$link-color: $font-color !default;

/// Text decoration of anchors.
///
/// @type {Keyword}
$link-decoration: underline !default;

/// Collection of breakpoints.
///
/// @type {Map}
/// @prop {Value} xsmall
/// @prop {Value} small
/// @prop {Value} medium
/// @prop {Value} large
/// @prop {Value} xlarge
/// @prop {Value} xxlarge
$breakpoints: (
    xsmall: 0,
    small: em(480px),
    medium: em(768px),
    large: em(960px),
    xlarge: em(1120px),
    xxlarge: em(1440px)
) !default;

/// Collection of space values.
///
/// @type {Map}
/// @prop {Value} xsmall
/// @prop {Value} small
/// @prop {Value} medium
/// @prop {Value} large
/// @prop {Value} xlarge
/// @prop {Value} xxlarge
$spaces: (
    xsmall: em(3px),
    small: em(6px),
    medium: em(9px),
    large: em(18px),
    xlarge: em(24px),
    xxlarge: em(36px),
) !default;

/// Collection of radius values.
///
/// @type {Map}
/// @prop {Value} xsmall
/// @prop {Value} small
/// @prop {Value} medium
/// @prop {Value} large
/// @prop {Value} xlarge
/// @prop {Value} circle
$radiuses: (
    xsmall: rem(4px),
    small: rem(6px),
    medium: rem(8px),
    large: rem(12px),
    xlarge: rem(18px),
    circle: 50%,
) !default;

/// Collection of elevation levels.
///
/// @type {Map}
/// @prop {Values} 1
/// @prop {Values} 2
/// @prop {Values} 3
/// @prop {Values} 6
/// @prop {Values} 18
/// @prop {Values} 27
$elevators: (
    1: 0 rem(4px) rem(3px) rem(-3px) transparentize(black, 0.95),
    2: 0 rem(5px) rem(4px) rem(-3px) transparentize(black, 0.9),
    3: 0 rem(6px) rem(5px) rem(-3px) transparentize(black, 0.9),
    6: 0 rem(6px) rem(12px) 0 transparentize(black, 0.8),
    18: 0 rem(18px) rem(36px) 0 transparentize(black, 0.75),
    27: 0 rem(27px) rem(36px) 0 transparentize(black, 0.6),
) !default;