/** @define space */

// Gutter
//
// Utility component for adding horizontal spaces between elements.
//
// .gutter--xsmall  - Adds xsmall level of a horizontal distance.
// .gutter--small   - Adds small level of a horizontal distance.
// .gutter--large   - Adds large level of a horizontal distance.
// .gutter--xlarge  - Adds xlarge level of a horizontal distance.
// .gutter--xxlarge - Adds xxlarge level of a horizontal distance.
//
// Markup: utilities/gutter/html/gutter.html
//
// Style guide: Utilities.Gutter
.gutter {
  & > * + * {
    margin-left: 0;
  }

  @each $size, $declaration in $spaces {
    &--#{$size} {
      & > * + * {
        margin-left: $declaration;
      }
    }
  }

  @each $breakpoint, $width in $breakpoints {
    @include breakpoint($breakpoint up) {
      @each $size, $declaration in $spaces {
        &--#{$size}\@#{$breakpoint} {
          & > * + * {
            margin-left: $declaration;
          }
        }
      }
    }
  }
}