////
/// @group Functions
////

/// Collection of breakpoints.
///
/// @type {Map}
/// @prop {Value} xsmall
/// @prop {Value} small
/// @prop {Value} medium
/// @prop {Value} large
/// @prop {Value} xlarge
/// @prop {Value} xxlarge
$breakpoint-sizes: (
  xsmall: 320px,
  small: 480px,
  medium: 768px,
  large: 960px,
  xlarge: 1120px,
  xxlarge: 1440px
) !default;

/// Offset value between breakpoints ranges.
///
/// @type {Value}
$breakpoint-offset: 1px;
