////
/// @group Functions
////

/// Collection of breakpoints.
///
/// @type {Map}
/// @prop {Value} xs
/// @prop {Value} sm
/// @prop {Value} md
/// @prop {Value} lg
/// @prop {Value} xl
/// @prop {Value} xxl
$breakpoint-sizes: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
) !default;

/// Offset value between breakpoints ranges.
///
/// @type {Value}
$breakpoint-offset: 1px;
