////
/// @group General
////

/// Collection of colors.
///
/// @type {Map}
/// @prop {Color} primary
/// @prop {Color} secondary
/// @prop {Color} complementary
/// @prop {Color} success
/// @prop {Color} warning
/// @prop {Color} error
/// @prop {Color} info
/// @prop {Color} white
/// @prop {Color} lighter-gray
/// @prop {Color} light-gray
/// @prop {Color} gray
/// @prop {Color} dark-gray
/// @prop {Color} darker-gray
/// @prop {Color} black
$colors: (
    primary: #6c3fce,
    secondary: #543793,
    complementary: #FF861D,
    success: #26c65e,
    warning: #ffde66,
    error: #ec3953,
    info: #3273dc,
    white: #fff,
    lighter-gray: #f6f6f6,
    light-gray: #d7dfe6,
    gray: #79858c,
    dark-gray: #586973,
    darker-gray: #425059,
    black: #171C1F,
) !default;