////
/// @group General
////

/// Collection of space values.
///
/// @type {Map}
/// @prop {Value} xsmall
/// @prop {Value} small
/// @prop {Value} medium
/// @prop {Value} large
/// @prop {Value} xlarge
/// @prop {Value} xxlarge
$spaces: (
    xsmall: em(3px),
    small: em(6px),
    medium: em(9px),
    large: em(18px),
    xlarge: em(24px),
    xxlarge: em(36px),
) !default;