<div class="message segment segment--small" role="alert">
  No! Not good! Stop! Not good! What are you doing? You burned all the food, the shade… the rum!
</div>

<div class="message segment segment--medium" role="alert">
  No! Not good! Stop! Not good! What are you doing? You burned all the food, the shade… the rum!
</div>

<div class="message segment segment--large" role="alert">
  No! Not good! Stop! Not good! What are you doing? You burned all the food, the shade… the rum!
</div>

<div class="message segment segment--xlarge" role="alert">
  No! Not good! Stop! Not good! What are you doing? You burned all the food, the shade… the rum!
</div>