<div class="message message--hollowed segment" role="alert">
  No! Not good! Stop! Not good! What are you doing? You burned all the food, the shade… the rum!
</div>

<div class="message message--hollowed message--success segment" role="alert">
  No! Not good! Stop! Not good! What are you doing? You burned all the food, the shade… the rum!
</div>

<div class="message message--hollowed message--warning segment" role="alert">
  No! Not good! Stop! Not good! What are you doing? You burned all the food, the shade… the rum!
</div>

<div class="message message--hollowed message--info segment" role="alert">
  No! Not good! Stop! Not good! What are you doing? You burned all the food, the shade… the rum!
</div>

<div class="message message--hollowed message--error segment" role="alert">
  No! Not good! Stop! Not good! What are you doing? You burned all the food, the shade… the rum!
</div>