<div class="message-fill message-fill--success message" role="alert">
  <p>No! Not good! Stop! Not good! What are you doing? You burned all the food, the shade… the rum!</p>
</div>

<div class="message-fill message-fill--warning message" role="alert">
  <p>No! Not good! Stop! Not good! What are you doing? You burned all the food, the shade… the rum!</p>
</div>

<div class="message-fill message-fill--info message" role="alert">
  <p>No! Not good! Stop! Not good! What are you doing? You burned all the food, the shade… the rum!</p>
</div>

<div class="message-fill message-fill--error message" role="alert">
  <p>No! Not good! Stop! Not good! What are you doing? You burned all the food, the shade… the rum!</p>
</div>
