/** @define hidden */

// Hidden
//
// Utility component for hidding content at specified breakpoints.
//
// .hidden@small   - Hides content at small breakpoint.
// .hidden@medium  - Hides content at medium breakpoint.
// .hidden@large   - Hides content at large breakpoint.
// .hidden@xlarge  - Hides content at xlarge breakpoint.
// .hidden@xxlarge - Hides content at xxlarge breakpoint.
//
// Markup: components/hidden/html/hidden.html
//
// Style guide: Utilities.Hidden
.hidden {
  display: none;

  @each $breakpoint, $width in $breakpoints {
    &\@#{$breakpoint} {
      display: initial;

      @include breakpoint($breakpoint) {
        display: none;
      }
    }
  }
}