<div class="field field--xsmall">
  <div class="field__control radio">
    <input id="radio-xsmall" class="radio__input" type="radio">
    <label for="radio-xsmall" class="radio__label">Xsmall</label>
  </div>
</div>

<div class="field field--small">
  <div class="field__control radio">
    <input id="radio-small" class="radio__input" type="radio">
    <label for="radio-small" class="radio__label">Small</label>
  </div>
</div>

<div class="field field--large">
  <div class="field__control radio">
    <input id="radio-large" class="radio__input" type="radio">
    <label for="radio-large" class="radio__label">Large</label>
  </div>
</div>

<div class="field field--xlarge">
  <div class="field__control radio">
    <input id="radio-xlarge" class="radio__input" type="radio">
    <label for="radio-xlarge" class="radio__label">Xlarge</label>
  </div>
</div>