////
/// @group General
////

/// Outputs declarations defined in map.
///
/// @param {String} $name
///
/// @example scss - example
///   @include declarations(('color': 'red'))
/// @example css - output
///   color: 'red';
@mixin declarations($declarations) {
    @each $property, $value in $declarations {
        #{$property}: #{$value};
    }
}

