/** @define input */

@import 'variables';

// Input
//
// Provides visual look to the field inputs.
//
// Markup: components/input/html/input.html
//
// Style guide: Components.Input
.input {
  line-height: inherit;
  font-family: $input-font-family;
  border-width: $input-border-width;
  border-style: $input-border-style;
  border-color: $input-border-color;
  background-color: $input-background;

  &:focus {
    outline: $input-focus-outline;
    border-color: $input-focus-border-color;
  }
}
