////
/// @group Table
////

/// Padding size in each table cell.
///
/// @type {Value|Values}
$table-padding: space(medium) space(large) !default;

/// Border of table's cells.
///
/// @type {Value}
$table-border: 1px solid color(light-gray) !default;

/// Background of the table head and footer.
///
/// @type {Color}
$table-heading-background: color(lighter-gray) !default;

/// Padding size in each condensed table cell.
///
/// @type {Value|Values}
$table-condense-padding: space(small) space(medium) !default;

/// Background of the striped table even rows.
///
/// @type {Color}
$table-stripe-background: lighten(color(lighter-gray), 1%) !default;

/// Background of the hovered row in hoverable table.
///
/// @type {Color}
$table-hoverable-background: color(lighter-gray) !default;
