/** @define table */

@import 'variables';

// Table
//
// Component for representing a tabular data.
//
// .table--condense   - Renders a table with smaller paddings.
// .table--stripe     - Makes table zebra-striping. Adds background to even rows.
// .table--hoverable  - Rows are hightlighted on mouseover.
// .table--border     - Adds borders to the table.
// .table--scoreboard - Adds "inside only" borders to a table.
//
// Markup: components/table/html/table.html
//
// Style guide: Components.Table
.table {
  $this: &;

  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  border-top: $table-border-width $table-border-style $table-border-color;

  &__head,
  &__footer {
    background-color: $table-heading-background;
  }

  // Table Cell
  //
  // Element for single call unit of a table.
  //
  // Markup: components/table/html/table__cell.html
  //
  // Style guide: Components.Table.Cell
  &__cell {
    vertical-align: top;
    padding: $table-padding;
    border: $table-border-width $table-border-style $table-border-color;
    border-width: 0 0 $table-border-width;
  }

  &--condense {
    #{$this}__cell {
      padding: $table-condense-padding;
    }
  }

  &--border {
    border: $table-border-width $table-border-style $table-border-color;

    #{$this}__cell {
      border-width: $table-border-width;
    }
  }

  &--hoverable {
    #{$this}__row {
      &:hover {
        background-color: $table-hoverable-background;
      }
    }
  }

  &--scoreboard {
    border-width: 0;

    #{$this}__cell {
      border-width: $table-border-width;

      &:first-child {
        border-left-width: 0;
      }

      &:last-child {
        border-right-width: 0;
      }
    }

    & > :first-child {
      #{$this}__cell {
        border-top: 0;
      }
    }

    & > :last-child {
      #{$this}__cell {
        border-bottom: 0;
      }
    }
  }

  &--stripe {
    #{$this}__row {
      &:nth-child(even) {
        background-color: $table-stripe-background;
      }
    }
  }
}
