////
/// @group Functions
////

/// Default transition timing function.
///
/// @type {Value}
$transition-easing: cubic-bezier(0.165, 0.84, 0.44, 1);

/// Collection of transitions.
///
/// @type {Map}
/// @prop {Value} slow
/// @prop {Value} normal
/// @prop {Value} fast
$transition-values: (
  'slow': 0.6s $transition-easing,
  'normal': 0.4s $transition-easing,
  'fast': 0.2s $transition-easing,
) !default;

/// Default transition speed.
///
/// @type {Keyword}
$transition-value: normal !default;
