////
/// @group Message
////

/// Collection of message variants.
///
/// @type {Map}
/// @prop {Map} neutral
/// @prop {Map} success
/// @prop {Map} warning
/// @prop {Map} info
/// @prop {Map} error
$message-variants: (
  neutral: (
    'background-color': color(gray-lighter),
    'border-color': color(gray-light),
  ),
  success: (
    'color': color(white),
    'background-color': color(success),
  ),
  warning: (
    'color': color(black),
    'background-color': color(warning),
  ),
  info: (
    'color': color(white),
    'background-color': color(info),
  ),
  error: (
    'color': color(white),
    'background-color': color(error),
  ),
) !default;

/// Default message variant.
///
/// @type {Keyword}
$message-variant: neutral !default;

/// Color of the message title element.
///
/// @type {Color}
$message-title-color: inherit !default;

/// Font weight of the message title element.
///
/// @type {Number}
$message-title-weight: 700 !default;

/// Collection of message variants.
///
/// @type {Map}
/// @prop {Map} neutral
/// @prop {Map} success
/// @prop {Map} warning
/// @prop {Map} info
/// @prop {Map} error
$message-hollow-variants: (
  neutral: (
    'border-color': color(gray-light),
  ),
  success: (
    'color': $font-color,
    'border-color': color(success),
  ),
  warning: (
    'color': $font-color,
    'border-color': color(warning),
  ),
  info: (
    'color': $font-color,
    'border-color': color(info),
  ),
  error: (
    'color': $font-color,
    'border-color': color(error),
  ),
) !default;

/// Default hollowed message variant.
///
/// @type {Keyword}
$message-hollow-variant: neutral !default;

/// Hollowed message border width.
///
/// @type {Value}
$message-hollow-border-width: 5px 1px 1px 1px !default;

/// Hollowed message border style.
///
/// @type {Keyword}
$message-hollow-border-style: solid !default;
