////
/// @group Label
////

/// Label color.
///
/// @type {Color}
$label-color: color(black) !default;

/// Label font-size.
///
/// @type {Value}
$label-font-size: 0.8em !default;

/// Label font-size.
///
/// @type {keyword|number}
$label-font-weight: bold !default;
