/** @define label */

@import 'variables';

// Label
//
// Component for styling fields labels.
//
// Markup: components/label/html/label.html
//
// Style guide: Components.Label
.label {
  color: $label-color;
  font-size: $label-font-size;
  font-weight: $label-font-weight;
}