////
/// @group List
////

/// Size of space between list items.
///
/// @type {Value|Values}
$list-spaces: space(xsmall) !default;

/// Size of lis item left margin.
///
/// @type {Value|Values}
$list-margins: space(small) !default;

/// Size of list left padding.
///
/// @type {Value|Values}
$list-offset: 1em !default;