/** @define space */

// Space
//
// Utility component for adding vertical spaces between elements.
//
// .space--xsmall  - Adds xsmall level of a vertical distance.
// .space--small   - Adds small level of a vertical distance.
// .space--large   - Adds large level of a vertical distance.
// .space--xlarge  - Adds xlarge level of a vertical distance.
// .space--xxlarge - Adds xxlarge level of a vertical distance.
//
// Markup: utilities/space/html/space.html
//
// Style guide: Utilities.Space
.space {
  & > * + * {
    margin-top: 0;
  }

  @each $size, $declaration in $spaces {
    &--#{$size} {
      & > * + * {
        margin-top: $declaration;
      }
    }
  }

  @each $breakpoint, $width in $breakpoints {
    @each $size, $declaration in $spaces {
      &--#{$size}\@#{$breakpoint} {
        @include breakpoint($breakpoint up) {
          & > * + * {
            margin-top: $declaration;
          }
        }
      }
    }
  }
}
