////
/// @group Tag
////

/// Tag font size.
///
/// @type {Value|Values}
$tag-font-size: em(14px) !default;

/// Tag text color.
///
/// @type {Color}
$tag-color: color(black) !default;

/// Tag background color.
///
/// @type {Color}
$tag-background: color(light-gray) !default;

/// Tag padding size.
///
/// @type {Value|Values}
$tag-padding: space(medium) !default;

/// Tag border radius size.
///
/// @type {Value|Values}
$tag-radius: radius(xsmall) !default;

/// Tag background color on hover.
///
/// @type {Color}
$tag-hover-background: darken(color(light-gray), 10%) !default;
