////
/// @group Tag
////

/// Tag font size.
///
/// @type {Value|Values}
$tag-font-size: em(14px) !default;

/// Tag text color.
///
/// @type {Color}
$tag-color: color(black) !default;

/// Tag background color.
///
/// @type {Color}
$tag-background: color(gray-light) !default;

/// Tag padding size.
///
/// @type {Value|Values}
$tag-padding: space(medium) !default;

/// Tag background color on hover.
///
/// @type {Color}
$tag-hover-background: darken(color(gray-light), 10%) !default;
