<button class="button button--covered" aria-pressed="true">
  <span>Covered</span>
  <span class="button__cover {{modifier_class}}">Loading...</span>
</button>

<button class="button button--primary button--covered" aria-pressed="true">
  <span>Covered</span>
  <span class="button__cover {{modifier_class}}">Loading...</span>
</button>

<button class="button button--primary button--hollow button--covered" aria-pressed="true">
  <span>Covered</span>
  <span class="button__cover {{modifier_class}}">Loading...</span>
</button>

<button class="button button--curtained" aria-pressed="false">
  <span>Curtained</span>
  <span class="button__cover {{modifier_class}}">Action</span>
</button>

<button class="button button--primary button--curtained" aria-pressed="false">
  <span>Curtained</span>
  <span class="button__cover {{modifier_class}}">Action</span>
</button>

<button class="button button--primary button--hollow button--curtained" aria-pressed="false">
  <span>Curtained</span>
  <span class="button__cover {{modifier_class}}">Action</span>
</button>