<button class="button button--cover" aria-pressed="true">
  <span>Covered</span>
  <span class="button__cover {{modifier_class}}">Loading...</span>
</button>

<button class="button button--primary button--cover" aria-pressed="true">
  <span>Covered</span>
  <span class="button__cover {{modifier_class}}">Loading...</span>
</button>

<button class="button button--primary button--hollow button--cover" aria-pressed="true">
  <span>Covered</span>
  <span class="button__cover {{modifier_class}}">Loading...</span>
</button>

<button class="button button--curtain" aria-pressed="false">
  <span>Curtained</span>
  <span class="button__cover {{modifier_class}}">Action</span>
</button>

<button class="button button--primary button--curtain" aria-pressed="false">
  <span>Curtained</span>
  <span class="button__cover {{modifier_class}}">Action</span>
</button>

<button class="button button--primary button--hollow button--curtain" aria-pressed="false">
  <span>Curtained</span>
  <span class="button__cover {{modifier_class}}">Action</span>
</button>