////
/// @group Button
////

/// Collection of button variants.
///
/// @type {Map}
/// @prop {Map} white
/// @prop {Map} black
/// @prop {Map} primary
/// @prop {Map} secondary
/// @prop {Map} complementary
/// @prop {Map} success
/// @prop {Map} warning
/// @prop {Map} info
/// @prop {Map} error
$button-variants: (
  neutral: (
    'color': color(black),
    'background-color': color(lighter-gray) darken(color(lighter-gray), 5%),
  ),
  white: (
    'color': color(black) color(white),
    'background-color': color(white) color(primary),
  ),
  black: (
    'color': color(white),
    'background-color': color(black) darken(color(black), 10%),
  ),
  primary: (
    'color': color(white),
    'background-color': color(primary) darken(color(primary), 10%),
  ),
  secondary: (
    'color': color(white),
    'background-color': color(secondary) darken(color(secondary), 10%),
  ),
  complementary: (
    'color': color(white),
    'background-color': color(complementary) darken(color(complementary), 10%),
  ),
  success: (
    'color': color(white),
    'background-color': color(success) darken(color(success), 10%),
  ),
  warning: (
    'color': color(black),
    'background-color': color(warning) darken(color(warning), 10%),
  ),
  info: (
    'color': color(white),
    'background-color': color(info) darken(color(info), 10%),
  ),
  error: (
    'color': color(white),
    'background-color': color(error) darken(color(error), 10%),
  ),
) !default;

/// Collection of hollowed button variants.
///
/// @type {Map}
/// @prop {Map} white
/// @prop {Map} black
/// @prop {Map} primary
/// @prop {Map} secondary
/// @prop {Map} complementary
/// @prop {Map} success
/// @prop {Map} warning
/// @prop {Map} info
/// @prop {Map} error
$button-hollow-variants: (
  neutral: (
    'color': color(black),
    'border-color': color(lighter-gray) darken(color(lighter-gray), 5%),
  ),
  white: (
    'color': color(white) color(white),
    'border-color': color(white) color(primary),
  ),
  black: (
    'color': color(black) color(white),
    'border-color': color(black) darken(color(black), 10%),
  ),
  primary: (
    'color': color(primary) color(white),
    'border-color': color(primary) darken(color(primary), 10%),
  ),
  secondary: (
    'color': color(secondary) color(white),
    'border-color': color(secondary) darken(color(secondary), 10%),
  ),
  complementary: (
    'color': color(complementary) color(white),
    'border-color': color(complementary) darken(color(complementary), 10%),
  ),
  success: (
    'color': color(success) color(white),
    'border-color': color(success) darken(color(success), 10%),
  ),
  warning: (
    'color': color(warning) color(black),
    'border-color': color(warning) darken(color(warning), 10%),
  ),
  info: (
    'color': color(info) color(white),
    'border-color': color(info) darken(color(info), 10%),
  ),
  error: (
    'color': color(error) color(white),
    'border-color': color(error) darken(color(error), 10%),
  ),
) !default;

/// Collection of button sizes.
///
/// @type {Map}
/// @prop {Map} xsmall
/// @prop {Map} small
/// @prop {Map} large
/// @prop {Map} xlarge
$button-sizes: (
  xsmall: (
    'font-size': em(12px)
  ),
  small: (
    'font-size': em(14px)
  ),
  medium: (
    'font-size': em(16px),
    'padding': space(small) space(large)
  ),
  large: (
    'font-size': em(18px)
  ),
  xlarge: (
    'font-size': em(21px)
  ),
) !default;

/// Default button size.
///
/// @type {Keyword}
$button-size: medium !default;

/// Default button variant.
///
/// @type {Keyword}
$button-variant: neutral !default;

/// Button text font weight.
///
/// @type {number|keyword}
$button-weight: 400 !default;

/// Button text align.
///
/// @type {Keyword}
$button-align: center !default;

/// Button border radius.
///
/// @type {Value}
$button-radius: radius(xsmall) !default;

/// Button box shadow.
///
/// @type {Value}
$button-shadow: elevator(1) !default;

/// Button box shadow on hover.
///
/// @type {Value}
$button-hover-shadow: elevator(2) !default;

/// Side paddings value for wide button.
///
/// @type {Value}
$button-wide-padding: em(40px) !default;

/// Opacity of the disabled button.
///
/// @type {Number}
$button-disabled-opacity: 0.5 !default;

/// Default hollowed button variant.
///
/// @type {Keyword}
$button-hollow-variant: neutral !default;

/// Outline width of the hollow button.
///
/// @type {Value}
$button-hollow-border: 1px !default;

/// Backgound color of the hollow button.
///
/// @type {Color}
$button-hollow-background: transparent !default;