////
/// @group Checkbox
////

/// Border radius of the checkbox input.
///
/// @type {Number|Value|Values}
$checkbox-radius: radius(circle) !default;

/// Size of the checkbox input.
///
/// @type {Number|Value}
$checkbox-size: em(18px) !default;

/// Background color of the checkbox input.
///
/// @type {Color}
$checkbox-background: transparent !default;

/// Border of the checkbox input.
///
/// @type {Values}
$checkbox-border: 1px solid color(light-gray) !default;

/// Border styles for the checkbox input in hover state.
///
/// @type {Values}
$checkbox-hover-border: 1px solid color(info) !default;

/// Background color of the checkbox input in hover state.
///
/// @type {Color}
$checkbox-hover-background: transparentize(color(info), 0.9) !default;

/// Size of the mark in checkbox input.
///
/// @type {Number|Value}
$checkbox-mark-size: em(14px) !default;

/// Width of the mark in checkbox input.
///
/// @type {Number|Value}
$checkbox-mark-width: em(2px) !default;

/// Color of the mark in checkbox input.
///
/// @type {Color}
$checkbox-mark-color: color(info) !default;

/// Transform of the mark in checkbox input.
///
/// @type {Values}
$checkbox-mark-transform: rotate(-45deg) scale(0) !default;

/// Checkbox input mark circle transform in hover active.
///
/// @type {Values}
$checkbox-mark-active-transform: rotate(-45deg) scale(1) !default;