////
/// @group Input
////

/// Input font family.
///
/// @type {Keyword}
$input-font-family: inherit !default;

/// Input border radius size.
///
/// @type {Number|Value|Values}
$input-radius: radius(xsmall) !default;

/// Input background color.
///
/// @type {Number|Value|Values}
$input-background: color(white) !default;

/// Input box-shadow styles.
///
/// @type {Number|Value|Values}
$input-shadow: elevator(1) !default;

/// Input transition settings.
///
/// @type {Values}
$input-transition: transition(normal) !default;

/// Input border style.
///
/// @type {Number|Value|Values}
$input-border-width: 1px !default;

/// Input border style.
///
/// @type {Keyword}
$input-border-style: solid !default;

/// Input border width.
///
/// @type {Color}
$input-border-color: color(light-gray) !default;

/// Input outline value.
///
/// @type {Values}
$input-focus-outline: 0 !default;

/// Focused input box-shadow styles.
///
/// @type {Values}
$input-focus-shadow: elevator(2) !default;

/// Focused input border styles.
///
/// @type {Color}
$input-focus-border-color: color(info) !default;