////
/// @group Modal
////

/// Space value around the modal.
///
/// @type {Value}
$modal-space: 1rem !default;

/// Style of the modal border.
///
/// @type {Values}
$modal-border: 0 !default;

/// Top position value of the modal.
///
/// @type {Value}
$modal-position-top: 50%;

/// Left position value of the modal.
///
/// @type {Value}
$modal-position-left: 50%;

/// Value of modal transform.
///
/// @type {Values}
$modal-transform: translate(-50%, -50%);