////
/// @group Modal
////

/// Space value around the modal.
///
/// @type {Value}
$modal-space: 1rem !default;

/// Style of the modal border.
///
/// @type {Values}
$modal-border: 0 !default;

/// Panel background color.
///
/// @type {Color}
$modal-background: color(white) !default;

/// Size of the modal border radius.
///
/// @type {Value}
$modal-radius: radius(xsmall) !default;

/// Style of the modal segments border.
///
/// @type {Values}
$modal-segment-border: 1px solid color(light-gray) !default;