////
/// @group Overlay
////

/// Overlay background color.
///
/// @type {Color}
$overlay-background: get-color(black) !default;

/// Overlay opacity value.
///
/// @type {Number}
$overlay-opacity: 0.66 !default;

/// Blur value of overlay background.
///
/// @type {Value}
$overlay-blur: 0.5rem !default;