////
/// @group Radio
////

/// Radio input radius.
///
/// @type {Number|Value|Values}
$radio-radius: get-radius(circle) !default;

/// Radio input inner circle width.
///
/// @type {Number|Value}
$radio-inner-width: em(6px) !default;

/// Radio input inner circle background color.
///
/// @type {Color}
$radio-inner-background: get-color(info) !default;

/// Radio input inner circle transition.
///
/// @type {Values}
$radio-inner-transition: get-transition(normal) !default;

/// Radio input inner circle transform.
///
/// @type {Values}
$radio-inner-transform: scale(0) !default;

/// Radio input inner circle width.
///
/// @type {Number|Value}
$radio-outer-width: em(18px) !default;

/// Radio input outer circle background color.
///
/// @type {Color}
$radio-outer-background: transparent !default;

/// Radio input outer circle border.
///
/// @type {Values}
$radio-outer-border: 1px solid get-color(light-gray) !default;

/// Radio input inner circle transform.
///
/// @type {Values}
$radio-outer-shadow: get-elevator(1) !default;

/// Radio input outer circle transition.
///
/// @type {Values}
$radio-outer-transition: get-transition(normal) !default;

/// Radio input inner circle transform in active state.
///
/// @type {Values}
$radio-active-inner-transform: scale(1) !default;

/// Radio input outer circle border in active state.
///
/// @type {Values}
$radio-hover-outer-border: 1px solid get-color(info) !default;

/// Radio input outer circle background in active state.
///
/// @type {Color}
$radio-hover-outer-background: transparentize(get-color(info), 0.9) !default;

/// Radio input outer circle box-shadow in active state.
///
/// @type {Values}
$radio-hover-outer-shadow: get-elevator(2) !default;