<table class="table table--condense">
  <tbody>
    <tr class="table__row">
      <th class="table__cell">1</th>
      <td class="table__cell">black</td>
      <td class="table__cell"><code>#000000</code></td>
      <td class="table__cell"><code>rgb(0, 0, 0)</code></td>
    </tr>

    <tr class="table__row">
      <th class="table__cell">2</th>
      <td class="table__cell">silver</td>
      <td class="table__cell"><code>#c0c0c0</code></td>
      <td class="table__cell"><code>rgb()</code></td>
    </tr>

    <tr class="table__row">
      <th class="table__cell">3</th>
      <td class="table__cell">gray</td>
      <td class="table__cell"><code>#808080</code></td>
      <td class="table__cell"><code>rgb()</code></td>
    </tr>

    <tr class="table__row">
      <th class="table__cell">4</th>
      <td class="table__cell">white</td>
      <td class="table__cell"><code>#ffffff</code></td>
      <td class="table__cell"><code>rgb(255, 255, 255)</code></td>
    </tr>

    <tr class="table__row">
      <th class="table__cell">5</th>
      <td class="table__cell">maroon</td>
      <td class="table__cell"><code>#800000</code></td>
      <td class="table__cell"><code>rgb()</code></td>
    </tr>

    <tr class="table__row">
      <th class="table__cell">6</th>
      <td class="table__cell">red</td>
      <td class="table__cell"><code>#800000</code></td>
      <td class="table__cell"><code>rgb()</code></td>
    </tr>
  </tbody>
</table>