////
/// @group Group
////

/// Overlap value of group items.
///
/// @type {Number|Value|Values}
$group-overlap: -1px !default;

/// Radius value for inner corners of group items.
///
/// @type {Number|Value|Values}
$group-inner-radius: 0 !default;

/// Radius value for outer corners of group items.
///
/// @type {Number|Value|Values}
$group-outer-radius: rem(4px) !default;

/// Breakpoint name under which group items stacks in stackable group.
///
/// @type {Keyword}
$group-stackable: medium !default;

/// Width of the group divider.
///
/// @type {Number|Value|Values}
$group-divider-width: 6px !default;
