////
/// @group General
////

/// Collection of radius values.
///
/// @type {Map}
/// @prop {Value} xsmall
/// @prop {Value} small
/// @prop {Value} medium
/// @prop {Value} large
/// @prop {Value} xlarge
/// @prop {Value} circle
$radiuses: (
  xsmall: rem(4px),
  small: rem(6px),
  medium: rem(8px),
  large: rem(12px),
  xlarge: rem(18px),
  circle: 50%,
) !default;

/// Default radius value.
///
/// @type {Keyword}
$radius: medium !default;

/// Retrives radius value of specifed radius from $radiuses map.
///
/// @param {String} $name
/// @require {Map} $radiuses
/// @return {Number} Radius value
///
/// @example scss - example
///   radius(large);
@function radius($name) {
  @return get($radiuses, $name);
}