////
/// @group Blockquote
////

/// Margins on blockquote component.
///
/// @type {Number|Value}
$blockquote-margins: 0 !default;

/// Color of blockquote background.
///
/// @type {Color}
$blockquote-background: color(lighter-gray) !default;

/// Style of blockquote border.
///
/// @type {Value}
$blockquote-border: 0 0 0 em(5px) solid color(gray) !default;

/// Color of blockquote footer.
///
/// @type {Color}
$blockquote-footer-color: color(gray) !default;
