/** @define blockquote */

@import 'variables';

// Blockquote
//
// Defines a block of text that is a direct quotation.
//
// Markup: blockquote.html
//
// Style guide: Components.Blockquote
.blockquote {
  display: block;
  margin: $blockquote-margins;
  background-color: $blockquote-background;
  border: $blockquote-border-width $blockquote-border-style $blockquote-border-color;
}