/** @define image */

@import 'variables';

// Image
//
// Component for controlling images.
//
// .image--expanded    - Image stretches to fill all width space of its container.
// .image--rounded     - Rounds up corners of the image.
// .image--circular    - Changes shape of image to circle.
// .image--top         - Aligns image verticaly to the top.
// .image--middle      - Aligns image verticaly to the middle.
// .image--bottom      - Aligns image verticaly to the bottom.
//
// Markup: objects/image/html/image.html
//
// Style guide: Objects.Image
.image {
  display: inline-block;
  max-width: 100%;
  height: auto;

  &--expanded {
    width: 100%;
  }

  &--rounded {
    border-radius: $image-radius-rounded;
  }

  &--circular {
    border-radius: $image-radius-circular;
  }

  &--top {
    vertical-align: top;
  }

  &--middle {
    vertical-align: middle;
  }

  &--bottom {
    vertical-align: bottom;
  }
}