////
/// @group Container
////

/// Collection of container sizes.
///
/// @type {Keyword}
$container-sizes: (
  expanded: 100%,
  small: breakpoint(small),
  medium: breakpoint(medium),
  large: breakpoint(large),
  xlarge: breakpoint(xlarge),
  xxlarge: breakpoint(xxlarge),
) !default;

/// Default container size.
///
/// @type {Keyword}
$container-size: expanded !default;
