<div class="modal" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="ModalTitle" aria-describedby="ModalBody">
  <div class="modal__wrapper container container--center container--medium">
    <div class="modal__panel panel" role="document">
      <div class="panel__segment segment">
        <h4 id="ModalTitle" class="heading">Header</h4>
      </div>

      <div id="ModalBody" class="panel__segment segment">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestias quidem, amet sunt? Itaque nobis cumque rem accusamus nihil expedita, odio, natus rerum excepturi, eum magni quaerat suscipit voluptas. Officia!
      </div>

      <div class="panel__segment segment">
        <button class="button button--primary">Save</button>
        <button class="button button--hollow">Cancel</button>
      </div>
    </div>
  </div>

  <div class="modal__overlay overlay" data-dismiss="modal"></div>
</div>
