<div class="modal container--small container--center" role="dialog" aria-describedby="ModalBody">
  <div class="modal__panel panel">
    <div id="ModalBody" class="panel__segment segment">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestias quidem, amet sunt? Itaque nobis cumque rem accusamus nihil expedita, odio, natus rerum excepturi, eum magni quaerat suscipit voluptas. Officia!
    </div>
  </div>
</div>

<div class="modal container--medium container--center" role="dialog" aria-describedby="ModalBody">
  <div class="modal__panel panel">
    <div id="ModalBody" class="panel__segment segment">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestias quidem, amet sunt? Itaque nobis cumque rem accusamus nihil expedita, odio, natus rerum excepturi, eum magni quaerat suscipit voluptas. Officia!
    </div>
  </div>
</div>

<div class="modal container--large container--center" role="dialog" aria-describedby="ModalBody">
  <div class="modal__panel panel">
    <div id="ModalBody" class="panel__segment segment">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestias quidem, amet sunt? Itaque nobis cumque rem accusamus nihil expedita, odio, natus rerum excepturi, eum magni quaerat suscipit voluptas. Officia!
    </div>
  </div>
</div>

<div class="modal container--xlarge container--center" role="dialog" aria-describedby="ModalBody">
  <div class="modal__panel panel">
    <div id="ModalBody" class="panel__segment segment">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestias quidem, amet sunt? Itaque nobis cumque rem accusamus nihil expedita, odio, natus rerum excepturi, eum magni quaerat suscipit voluptas. Officia!
    </div>
  </div>
</div>

<div class="modal container--xxlarge container--center" role="dialog" aria-describedby="ModalBody">
  <div class="modal__panel panel">
    <div id="ModalBody" class="panel__segment segment">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestias quidem, amet sunt? Itaque nobis cumque rem accusamus nihil expedita, odio, natus rerum excepturi, eum magni quaerat suscipit voluptas. Officia!
    </div>
  </div>
</div>