<div class="modal" role="dialog" tabindex="-1" aria-hidden="true" aria-describedby="SmallModalBody">
  <div class="modal__wrapper container container--center container--medium">
    <div class="modal__panel panel" role="document">
      <div id="SmallModalBody" class="panel__segment segment">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestias quidem, amet sunt? Itaque nobis cumque rem accusamus nihil expedita, odio, natus rerum excepturi, eum magni quaerat suscipit voluptas. Officia!
      </div>
    </div>
  </div>
</div>

<div class="modal" role="dialog" tabindex="-1" aria-hidden="true" aria-describedby="MediumModalBody">
  <div class="modal__wrapper container container--center container--medium">
    <div class="modal__panel panel" role="document">
      <div id="MediumModalBody" class="panel__segment segment">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestias quidem, amet sunt? Itaque nobis cumque rem accusamus nihil expedita, odio, natus rerum excepturi, eum magni quaerat suscipit voluptas. Officia!
      </div>
    </div>
  </div>
</div>

<div class="modal" role="dialog" tabindex="-1" aria-hidden="true" aria-describedby="LargeModalBody">
  <div class="modal__wrapper container container--center container--medium">
    <div class="modal__panel panel" role="document">
      <div id="LargeModalBody" class="panel__segment segment">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestias quidem, amet sunt? Itaque nobis cumque rem accusamus nihil expedita, odio, natus rerum excepturi, eum magni quaerat suscipit voluptas. Officia!
      </div>
    </div>
  </div>
</div>

<div class="modal" role="dialog" tabindex="-1" aria-hidden="true" aria-describedby="XlargeModalBody">
  <div class="modal__wrapper container container--center container--medium">
    <div class="modal__panel panel" role="document">
      <div id="XlargeModalBody" class="panel__segment segment">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestias quidem, amet sunt? Itaque nobis cumque rem accusamus nihil expedita, odio, natus rerum excepturi, eum magni quaerat suscipit voluptas. Officia!
      </div>
    </div>
  </div>
</div>

<div class="modal" role="dialog" tabindex="-1" aria-hidden="true" aria-describedby="XxlargeModalBody">
  <div class="modal__wrapper container container--center container--medium">
    <div class="modal__panel panel" role="document">
      <div id="XxlargeModalBody" class="panel__segment segment">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestias quidem, amet sunt? Itaque nobis cumque rem accusamus nihil expedita, odio, natus rerum excepturi, eum magni quaerat suscipit voluptas. Officia!
      </div>
    </div>
  </div>
</div>
