<div class="modal" aria-hidden="true">
  <div class="modal__wrapper container container--center container--small">
    <div class="modal__panel panel" role="dialog" aria-describedby="SmallModalBody" aria-modal="true">
      <div id="SmallModalBody" class="panel__segment segment">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestias quidem, amet sunt? Itaque nobis cumque rem accusamus nihil expedita, odio, natus rerum excepturi, eum magni quaerat suscipit voluptas. Officia!
      </div>
    </div>
  </div>
</div>

<div class="modal" aria-hidden="true">
  <div class="modal__wrapper container container--center container--medium">
    <div class="modal__panel panel" role="dialog" aria-describedby="MediumModalBody" aria-modal="true">
      <div id="MediumModalBody" class="panel__segment segment">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestias quidem, amet sunt? Itaque nobis cumque rem accusamus nihil expedita, odio, natus rerum excepturi, eum magni quaerat suscipit voluptas. Officia!
      </div>
    </div>
  </div>
</div>

<div class="modal" aria-hidden="true">
  <div class="modal__wrapper container container--center container--large">
    <div class="modal__panel panel" role="dialog" aria-describedby="LargeModalBody" aria-modal="true">
      <div id="LargeModalBody" class="panel__segment segment">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestias quidem, amet sunt? Itaque nobis cumque rem accusamus nihil expedita, odio, natus rerum excepturi, eum magni quaerat suscipit voluptas. Officia!
      </div>
    </div>
  </div>
</div>

<div class="modal" aria-hidden="true">
  <div class="modal__wrapper container container--center container--xlarge">
    <div class="modal__panel panel" role="dialog" aria-describedby="XlargeModalBody" aria-modal="true">
      <div id="XlargeModalBody" class="panel__segment segment">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestias quidem, amet sunt? Itaque nobis cumque rem accusamus nihil expedita, odio, natus rerum excepturi, eum magni quaerat suscipit voluptas. Officia!
      </div>
    </div>
  </div>
</div>

<div class="modal" aria-hidden="true">
  <div class="modal__wrapper container container--center container--xxlarge">
    <div class="modal__panel panel" role="dialog" aria-describedby="XxlargeModalBody" aria-modal="true">
      <div id="XxlargeModalBody" class="panel__segment segment">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestias quidem, amet sunt? Itaque nobis cumque rem accusamus nihil expedita, odio, natus rerum excepturi, eum magni quaerat suscipit voluptas. Officia!
      </div>
    </div>
  </div>
</div>
