////
/// @group Grid
////

/// Number of columns per grid.
///
/// @type {Number}
$grid-columns: 12 !default;

/// Breakpoint name under which columns stacks in stackable grid.
///
/// @type {Keyword}
$grid-stackable: medium !default;

/// Breakpoint name under which columns reverse in reversable grid.
///
/// @type {Keyword}
$grid-reversable: medium !default;

/// Collection of grid sizes by breakpoint.
///
/// @type {Map}
$grid-sizes: (
  xsmall: breakpoint(small),
  small: breakpoint(small),
  medium: breakpoint(medium),
  large: breakpoint(large),
  xlarge: breakpoint(xlarge),
  xxlarge: breakpoint(xxlarge),
) !default;

/// Collection of gutters sizes by breakpoints.
///
/// @type {Map}
/// @prop {Value|Values} xsmall
/// @prop {Value|Values} large
$grid-gutters: (
  xsmall: space(medium),
  large: space(large),
) !default;

/// Default gutter size.
///
/// @type {Keyword}
$grid-gutter: xsmall !default;
