/** @define elevator */

// Elevator
//
// Utility component for adding various levels of a shadow.
//
// .elevator--xsmall  - Adds xsmall level of a shadow.
// .elevator--small   - Adds small level of a shadow.
// .elevator--large   - Adds large level of a shadow.
// .elevator--xlarge  - Adds xlarge level of a shadow.
// .elevator--xxlarge - Adds xxlarge level of a shadow.
//
// Markup: components/elevator/html/elevator.html
//
// Style guide: Utilities.Elevator
.elevator {
  $declaration: map-get($elevators, $elevator);

  box-shadow: $declaration;

  @each $level, $declaration in $elevators {
    @if $level != $elevator {
      &--#{$level} {
        box-shadow: $declaration;
      }
    }
  }
}