/** @define modal */

@import 'variables';

// Modal
//
// Component for large dialog prompts which temporary covers entire viewport. Useful for displaying content which user should focus on.
//
// .container--small   - Limits modal width to small size.
// .container--medium  - Limits modal width to medium size.
// .container--large   - Limits modal width to large size.
// .container--xlarge  - Limits modal width to xlarge size.
// .container--xxlarge - Limits modal width to xxlarge size.
//
// Markup: components/modal/html/modal.html
//
// Style guide: Components.Modal
.modal {
  $this: &;

  position: fixed;
  top: $modal-position-top;
  left: $modal-position-left;
  transform: $modal-transform;
  padding: $modal-space;

  // Modal Panel
  //
  // Panel of the modal. Holds modal content.
  //
  // Markup: components/modal/html/modal__panel.html
  //
  // Style guide: Components.Modal.Panel
  &__panel {
    border: $modal-border;
    // TODO: z-indexing
  }

  // Modal Overlay
  //
  // Overlay underneath a modal. It cuts out modal panel from the contents below.
  //
  // Markup: components/modal/html/modal__overlay.html
  //
  // Style guide: Components.Modal.Overlay
  &__overlay {
    // TODO: z-indexing
  }
}
