<div class="field">
  <div class="field__control checkbox {{modifier_class}}">
    <input id="Checkbox1" class="checkbox__input" type="checkbox" name="checkbox">
    <label for="Checkbox1" class="checkbox__label">Checkbox #1</label>
  </div>

  <div class="field__control checkbox {{modifier_class}}">
    <input id="Checkbox2" class="checkbox__input" type="checkbox" name="checkbox">
    <label for="Checkbox2" class="checkbox__label">Checkbox #2</label>
  </div>
</div>

<div class="field field--inline">
  <div class="field__control checkbox {{modifier_class}}">
    <input id="InlineCheckbox1" class="checkbox__input" type="checkbox" name="checkbox">
    <label for="InlineCheckbox1" class="checkbox__label">Checkbox</label>
  </div>

  <div class="field__control checkbox {{modifier_class}}">
    <input id="InlineCheckbox2" class="checkbox__input" type="checkbox" name="checkbox">
    <label for="InlineCheckbox2" class="checkbox__label">Checkbox</label>
  </div>
</div>