<section>
    <div class="group">
        <button class="group__item button button--large">Button</button>
        <div class="group__divider divider {{modifier_class}}" data-text="or"></div>
        <button class="group__item button button--large">Button</button>
        <div class="group__divider divider {{modifier_class}}" data-text="or"></div>
        <button class="group__item button button--large">Button</button>
    </div>
</section>
<br>
<section>
    <div class="group">
        <button class="group__item button button--large button--hollow">Button</button>
        <div class="group__divider divider {{modifier_class}}" data-text="&"></div>
        <button class="group__item button button--large button--hollow">Button</button>
        <div class="group__divider divider {{modifier_class}}" data-text="&"></div>
        <button class="group__item button button--large button--hollow">Button</button>
    </div>
</section>
<br>
<section>
    <div class="group group--stacked">
        <button class="group__item button button--large" aria-label="Button">Button</button>
        <div class="group__divider divider {{modifier_class}}" data-text="or"></div>
        <button class="group__item button button--large" aria-label="Button">Button</button>
        <div class="group__divider divider {{modifier_class}}" data-text="or"></div>
        <button class="group__item button button--large" aria-label="Button">Button</button>
    </div>
</section>
<br>
<section>
    <div class="group group--stacked">
        <button class="group__item button button--large button--hollow" aria-label="Button">Button</button>
        <div class="group__divider divider {{modifier_class}}" data-text="&"></div>
        <button class="group__item button button--large button--hollow" aria-label="Button">Button</button>
        <div class="group__divider divider {{modifier_class}}" data-text="&"></div>
        <button class="group__item button button--large button--hollow" aria-label="Button">Button</button>
    </div>
</section>
<br>
<section>
    <div class="field field--large group">
        <input class="group__item field__input input" type="text" aria-label="Text">
        <div class="group__divider divider {{modifier_class}}" data-text="&"></div>
        <input class="group__item field__input input" type="text" aria-label="Text">
        <div class="group__divider divider {{modifier_class}}" data-text="&"></div>
        <input class="group__item field__input input" type="text" aria-label="Text">
    </div>
</section>
<br>
<section>
    <div class="field field--large group group--stacked">
        <input class="group__item field__input input" type="text" aria-label="Text">
        <div class="group__divider divider {{modifier_class}}" data-text="&"></div>
        <input class="group__item field__input input" type="text" aria-label="Text">
        <div class="group__divider divider {{modifier_class}}" data-text="&"></div>
        <input class="group__item field__input input" type="text" aria-label="Text">
    </div>
</section>
<br>
<section>
    <div class="group">
        <div class="group__item panel">
            <div class="panel__segment segment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam inventore alias quos amet vel explicabo velit, cumque tempora eos. Sed cupiditate quaerat est fuga veritatis iste! Recusandae corporis, molestias a.</div>
        </div>
        <div class="group__divider divider {{modifier_class}}" data-text="or"></div>
        <div class="group__item panel">
            <div class="panel__segment segment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam inventore alias quos amet vel explicabo velit, cumque tempora eos. Sed cupiditate quaerat est fuga veritatis iste! Recusandae corporis, molestias a.</div>
        </div>
        <div class="group__divider divider {{modifier_class}}" data-text="or"></div>
        <div class="group__item panel">
            <div class="panel__segment segment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam inventore alias quos amet vel explicabo velit, cumque tempora eos. Sed cupiditate quaerat est fuga veritatis iste! Recusandae corporis, molestias a.</div>
        </div>
    </div>
</section>
<br>
<section>
    <div class="group group--stacked">
        <div class="group__item panel">
            <div class="panel__segment segment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam inventore alias quos amet vel explicabo velit, cumque tempora eos. Sed cupiditate quaerat est fuga veritatis iste! Recusandae corporis, molestias a.</div>
        </div>
        <div class="group__divider divider {{modifier_class}}" data-text="or"></div>
        <div class="group__item panel">
            <div class="panel__segment segment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam inventore alias quos amet vel explicabo velit, cumque tempora eos. Sed cupiditate quaerat est fuga veritatis iste! Recusandae corporis, molestias a.</div>
        </div>
        <div class="group__divider divider {{modifier_class}}" data-text="or"></div>
        <div class="group__item panel">
            <div class="panel__segment segment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam inventore alias quos amet vel explicabo velit, cumque tempora eos. Sed cupiditate quaerat est fuga veritatis iste! Recusandae corporis, molestias a.</div>
        </div>
    </div>
</section>