<div class="field">
  <label for="Field1" class="field__label label">Text</label>
  <input id="Field1" class="field__input input" type="text" name="text" aria-describedby="Text1Caption">
  <small id="Text1Caption" class="field__caption {{modifier_class}}">Lorem ipsum dolor sit amet, consectetur adipisicing.</small>
</div>

<div class="field field--error">
  <label for="Field2" class="field__label label">Text</label>
  <input id="Field2" class="field__input input" type="text" name="text" aria-describedby="Text2Caption">
  <small id="Text2Caption" class="field__caption {{modifier_class}}">Lorem ipsum dolor sit amet, consectetur adipisicing.</small>
</div>