<style>
  #DemoOverlay {
    padding: 3rem;
  }
  #DemoModal {
    position: static;
    transform: translate(0, 0);
  }
</style>

<div id="DemoOverlay">
  <div class="overlay"></div>

  <div id="DemoModal" class="modal container" role="dialog" aria-labelledby="ModalTitle" aria-describedby="ModalBody">
    <div class="modal__body panel {{modifier_class}}">
      <div class="modal__header panel__segment segment">
        <h4 id="ModalBody" class="heading">Upload photo</h4>
      </div>

      <div id="ModalTitle" class="modal__content panel__segment segment">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestias quidem, amet sunt? Itaque nobis cumque rem accusamus nihil expedita, odio, natus rerum excepturi, eum magni quaerat suscipit voluptas. Officia!
      </div>

      <div class="modal__footer panel__segment segment">
        <button class="button button--primary">Save</button>
        <button class="button button--hollow">Cancel</button>
      </div>
    </div>
  </div>
</div>