<div class="field">
    <div class="field__control radio {{modifier_class}}">
        <input id="radio-1" class="radio__input" type="radio" name="radio" checked>
        <label for="radio-1" class="radio__label">Radio #1</label>
    </div>

    <div class="field__control radio {{modifier_class}}">
        <input id="radio-2" class="radio__input" type="radio" name="radio">
        <label for="radio-2" class="radio__label">Radio #2</label>
    </div>
</div>

<div class="field field--inline">
    <div class="field__control radio {{modifier_class}}">
        <input id="inline-radio-1" class="radio__input" type="radio" name="inline-radio" checked>
        <label for="inline-radio-1" class="radio__label">Radio #1</label>
    </div>

    <div class="field__control radio {{modifier_class}}">
        <input id="inline-radio-2" class="radio__input" type="radio" name="inline-radio">
        <label for="inline-radio-2" class="radio__label">Radio #2</label>
    </div>
</div>