<ul class="list list--inline">
  <li class="list__item">
    <a href="#" class="tag group">
      <span class="tag__body group__item">Apple</span>
      <img class="tag__image {{modifier_class}} group__item image image--rounded" src="https://semantic-ui.com/images/avatar/small/steve.jpg">
    </a>
  </li>
  <li class="list__item">
    <a href="#" class="tag group">
      <img class="tag__image {{modifier_class}} group__item image image--rounded" src="https://semantic-ui.com/images/avatar/small/steve.jpg">
      <span class="tag__body group__item">Pen</span>
    </a>
  </li>
</ul>