/** @define segment */

@import 'variables';

// Segment
//
// Component for providing visual inner space for the element.
//
// .segment--small  - Small variant of the paddings.
// .segment--medium - Medium variant of the paddings.
// .segment--xlarge - Xlarge variant of the paddings.
//
// Markup: structures/segment/html/segment.html
//
// Style guide: Structures.Segment
.segment {
  $size: map-get($segment-sizes, $segment-size);

  width: 100%;
  display: block;
  padding: $size;

  @each $name, $size in $segment-sizes {
    @if $name != $segment-size {
      &--#{$name} {
        padding: $size;
      }
    }
  }
}
