/** @define space */

// Space
//
// Utility component for adding vertical spaces between elements.
//
// .space--xsmall  - Adds xsmall level of a vertical distance.
// .space--small   - Adds small level of a vertical distance.
// .space--large   - Adds large level of a vertical distance.
// .space--xlarge  - Adds xlarge level of a vertical distance.
// .space--xxlarge - Adds xxlarge level of a vertical distance.
//
// Markup: utilities/space/html/space.html
//
// Style guide: Utilities.Space
.space {
  $space: get($space-values, $space-value);

  & > * + * {
    margin-top: $space;
  }

  @each $breakpoint, $width in $breakpoint-sizes {
    &\@#{$breakpoint} {
      @include breakpoint($breakpoint up) {
        & > * + * {
          margin-top: $space;
        }
      }
    }
  }

  @each $size, $declaration in $space-values {
    @if $size != $space-value {
      &--#{$size} {
        & > * + * {
          margin-top: $declaration;
        }
      }
    }
  }

  @each $breakpoint, $width in $breakpoint-sizes {
    @each $size, $declaration in $space-values {
      &--#{$size}\@#{$breakpoint} {
        @include breakpoint($breakpoint up) {
          & > * + * {
            margin-top: $declaration;
          }
        }
      }
    }
  }

  @each $breakpoint, $width in $breakpoint-sizes {
    &--none\@#{$breakpoint} {
      @include breakpoint($breakpoint up) {
        & > * + * {
          margin-top: 0;
        }
      }
    }
  }
}
