<button class="button-hollow button">Button</button>
<button class="button-hollow button-hollow--primary button">Primary</button>
<button class="button-hollow button-hollow--secondary button">Secondary</button>
<button class="button-hollow button-hollow--success button">Success</button>
<button class="button-hollow button-hollow--warning button">Warning</button>
<button class="button-hollow button-hollow--error button">Error</button>
<button class="button-hollow button-hollow--info button">Info</button>
