<div class="panel">
  <div class="panel__segment segment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit dicta molestias repudiandae, assumenda culpa autem porro perspiciatis modi accusantium cupiditate inventore aperiam. Adipisci voluptatum ipsa temporibus pariatur deserunt similique provident voluptatibus modi earum repudiandae sint aliquid, delectus, laudantium amet cum iste!</div>

  <div class="panel__segment segment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit dicta molestias repudiandae, assumenda culpa autem porro perspiciatis modi accusantium cupiditate inventore aperiam. Adipisci voluptatum ipsa temporibus pariatur deserunt similique provident voluptatibus modi earum repudiandae sint aliquid, delectus, laudantium amet cum iste!</div>
</div>