////
/// @group Flex
////

/// Number of columns per flex.
///
/// @type {Number}
$flex-columns: 12 !default;

/// Collection of flex breakpoints.
///
/// @type {Map}
$flex-breakpoints: (
  xsmall: breakpoint(xsmall),
  small: breakpoint(small),
  medium: breakpoint(medium),
  large: breakpoint(large),
  xlarge: breakpoint(xlarge),
  xxlarge: breakpoint(xxlarge),
) !default;
