////
/// @group Generic
////

/// Collection of heading sizes.
///
/// @link http://type-scale.com/
/// @type {Map}
/// @prop {Map} default
/// @prop {Map} medium
$heading-sizes: (
  default: (
    'h1': ('font-size': em(36px)),
    'h2': ('font-size': em(27px)),
    'h3': ('font-size': em(21px)),
    'h4': ('font-size': em(18px)),
    'h5': ('font-size': em(16px)),
    'h6': ('font-size': em(14px)),
  ),
  medium: (
    'h1': ('font-size': em(42px)),
    'h2': ('font-size': em(36px)),
    'h3': ('font-size': em(27px)),
    'h4': ('font-size': em(21px)),
    'h5': ('font-size': em(16px)),
    'h6': ('font-size': em(14px)),
  ),
) !default;

/// Default heading size.
///
/// @type {Keyword}
$heading-size: default;

/// Font family of headings.
///
/// @type {Keyword|Values}
$heading-font-family: inherit !default;

/// Text color of headings.
///
/// @type {Color}
$heading-color: color(black) !default;

/// Line height of headings.
///
/// @type {Number|Value}
$heading-line-height: 1.25 !default;

/// Font weight of headings.
///
/// @type {Number|Keyword}
$heading-font-weight: 400 !default;