/** @define hidden */

// Hidden
//
// Utility component for hidding content at precised breakpoints.
//
// .hidden@small - Hides content at small breakpoint.
// .hidden@medium - Hides content at medium breakpoint.
// .hidden@large - Hides content at large breakpoint.
// .hidden@xlarge - Hides content at xlarge breakpoint.
// .hidden@xxlarge - Hides content at xxlarge breakpoint.
//
// Markup: hidden.html
//
// Style guide: Utilities.Hidden
.hidden {
  $this: #{&};

  display: none;

  @each $breakpoint, $width in $breakpoints {
    &\@#{$breakpoint} {
      display: initial;

      @include breakpoint($breakpoint) {
        display: none;
      }
    }
  }
}