/** @define hidden */

// Hidden
//
// Desc
//
// .hidden@small - Desc
// .hidden@medium - Desc
// .hidden@large - Desc
// .hidden@xlarge - Desc
// .hidden@xxlarge - Desc
//
// Markup: hidden.html
//
// Style guide: Utilities.Hidden
.hidden {
  $this: #{&};

  display: none;

  @each $breakpoint, $width in $breakpoints {
    &\@#{$breakpoint} {
      display: initial;

      @include breakpoint($breakpoint) {
        display: none;
      }
    }
  }
}