/** @define hidden */

// Hidden
//
// Desc
//
// .hidden@small - Desc
// .hidden@small--up - Desc
// .hidden@small--down - Desc
// .hidden@medium - Desc
// .hidden@medium--up - Desc
// .hidden@medium--down - Desc
// .hidden@large - Desc
// .hidden@large--up - Desc
// .hidden@large--down - Desc
// .hidden@xlarge - Desc
// .hidden@xlarge--up - Desc
// .hidden@xlarge--down - Desc
// .hidden@xxlarge - Desc
// .hidden@xxlarge--up - Desc
// .hidden@xxlarge--down - Desc
//
// Markup: hidden.html
//
// Style guide: Utilities.Hidden
.hidden {
    $this: #{&};

    display: none;

    @at-root {
        @each $breakpoint, $width in $breakpoints {
            #{$this}\@#{$breakpoint} {
                display: initial;

                @include breakpoint($breakpoint) {
                    display: none;
                }

                &--up {
                    display: initial;

                    @include breakpoint($breakpoint up) {
                        display: none;
                    }
                }

                &--down {
                    display: initial;

                    @include breakpoint($breakpoint down) {
                        display: none;
                    }
                }
            }
        }
    }
}