/** @define radius */

// Radius
//
// Utility component for adding precised sizes of radius.
//
// .radius--xsmall - Adds xsmall size of a radius.
// .radius--small - Adds small size of a radius.
// .radius--large - Adds large size of a radius.
// .radius--xlarge - Adds xlarge size of a radius.
// .radius--xxlarge - Adds xxlarge size of a radius.
// .radius--circle - Adds circle size of a radius.
//
// Markup: radius.html
//
// Style guide: Utilities.Radius
.radius {
  $declaration: map-get($radiuses, $radius);

  box-shadow: $declaration;

  @each $size, $declaration in $radiuses {
    @if $size != $radius {
      &--#{$size} {
        box-shadow: $declaration;
      }
    }
  }
}