/** @define text */

// Text
//
// Utility component for controlling alignment, style or transformation of a text.
//
// .text--left - Aligns text to the left.
// .text--right - Aligns text to the right.
// .text--center - Aligns text to the center.
// .text--upper - Changes text to uppercase.
//
// Markup: text.html
//
// Style guide: Utilities.Text
.text {
  text-rendering: $text-rendering;

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--center {
    text-align: center;
  }

  &--upper {
    text-transform: uppercase;
  }
}