/** @define text */

// Text
//
// Desc
//
// .text--left - Desc
// .text--right - Desc
// .text--center - Desc
// .text--upper - Desc
//
// Markup: text.html
//
// Style guide: Utilities.Text
.text {
  text-rendering: $text-rendering;

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--center {
    text-align: center;
  }

  &--upper {
    text-transform: uppercase;
  }
}