/** @define visible */

// Visible
//
// Desc
//
// .visible@small - Desc
// .visible@medium - Desc
// .visible@large - Desc
// .visible@xlarge - Desc
// .visible@xxlarge - Desc
//
// Markup: visible.html
//
// Style guide: Utilities.Visible
.visible {
	$this: #{&};

	display: initial;

  @each $breakpoint, $width in $breakpoints {
    &\@#{$breakpoint} {
      display: none;

      @include breakpoint($breakpoint) {
        display: initial;
      }
    }
  }
}