<div class="field field--xsmall">
  <div class="field__control checkbox">
    <input id="checkbox-xsmall" class="checkbox__input" type="checkbox">
    <label for="checkbox-xsmall" class="checkbox__label">Xsmall</label>
  </div>
</div>

<div class="field field--small">
  <div class="field__control checkbox">
    <input id="checkbox-small" class="checkbox__input" type="checkbox">
    <label for="checkbox-small" class="checkbox__label">Small</label>
  </div>
</div>

<div class="field field--large">
  <div class="field__control checkbox">
    <input id="checkbox-large" class="checkbox__input" type="checkbox">
    <label for="checkbox-large" class="checkbox__label">Large</label>
  </div>
</div>

<div class="field field--xlarge">
  <div class="field__control checkbox">
    <input id="checkbox-xlarge" class="checkbox__input" type="checkbox">
    <label for="checkbox-xlarge" class="checkbox__label">Xlarge</label>
  </div>
</div>