/** @define list */

@import 'variables';

// List
//
// Component for representing a list of items.
//
// .list--unstyled - Render list without marks.
// .list--inline - Render list without marks and in single line.
//
// Markup: list.html
//
// Style guide: Objects.List
.list {
  $this: &;

  display: block;
  padding-left: $list-offset;

  // List Item
  //
  // Element for a item of the list.
  //
  // Style guide: Objects.List.Item
  &__item {
    display: list-item;
  }

  &--unstyled {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  &--inline {
    display: inline-block;

    #{$this}__item {
      display: inline-block;
    }
  }
}