/** @define list */

@import 'variables';

// List
//
// Component for representing a list of items.
//
// .list--unstyle  - Render list without marks.
// .list--inline   - Render list in a single line.
//
// Markup: objects/list/html/list.html
//
// Style guide: Objects.List
.list {
  $this: &;

  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: $list-offset;

  // List Item
  //
  // Element for a item of the list.
  //
  // Markup: objects/list/html/list__item.html
  //
  // Style guide: Objects.List.Item
  &__item {
    display: list-item;
  }

  &--unstyle {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  &--inline {
    #{$this}__item {
      display: inline-block;
    }
  }
}
