/** @define media */

@import 'variables';

// Media
//
// Standard media object component for displaying a side element alongside with the content.
//
// .media--middle    - Centers side element and content verticaly.
// .media--reverse   - Flip side element and content.
// .media--stack     - Stack side element and content on top of each other.
// .media--stackable - Makes side element and content to stack on specified breakpoint defined in `$media-stackable` variable.
//
// Markup: objects/media/html/media.html
//
// Style guide: Objects.Media
.media {
  $this: &;

  display: flex;

  @each $breakpoint, $width in $media-gutters {
    @if ($breakpoint == $media-gutter) {
      margin: -#{$width / 2};
    }

    @else {
      @include breakpoint($breakpoint up) {
        margin: -#{$width / 2};
      }
    }
  }

  &__side,
  &__body {
    @each $breakpoint, $width in $media-gutters {
      @if ($breakpoint == $media-gutter) {
        padding: $width / 2;
      }

      @else {
        @include breakpoint($breakpoint up) {
          padding: $width / 2;
        }
      }
    }
  }

  // Media Side
  //
  // Element for holding media item of the media object.
  //
  // .media__side--middle - Align side to the middle oth the media object.
  // .media__side--bottom - Align side to the bottom oth the media object.
  //
  // Markup: objects/media/html/media__side.html
  //
  // Style guide: Objects.Media.Side
  &__side {
    flex: 0 1 auto;
    max-width: 100%;

    &--bottom {
      align-self: flex-end;

      #{$this}__image {
        vertical-align: text-bottom;
      }
    }
  }

  // Media Body
  //
  // Element for holding content of the media object.
  //
  // .media__body--middle - Align body to the middle oth the media object.
  // .media__body--bottom - Align body to the bottom oth the media object.
  //
  // Markup: objects/media/html/media__body.html
  //
  // Style guide: Objects.Media.Body
  &__body {
    flex: 1;
    max-width: 100%;

    &--bottom {
      align-self: flex-end;
    }
  }

  // Media Image
  //
  // Image element of media object.
  //
  // Markup: objects/media/html/media__image.html
  //
  // Style guide: Objects.Media.Image
  &__image {
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: text-top;
  }

  &--middle {
    align-items: center;

    #{$this}__image {
      vertical-align: middle;
    }
  }

  &--stack {
    flex-direction: column;
  }

  &--reverse {
    flex-direction: row-reverse;

    &#{$this}--stack {
      flex-direction: column-reverse;
    }
  }
}
