/** @define overlay */

@import 'variables';

// Overlay
//
// Component for curtaining a view with semi-trasparent panel so users won't be distracted by content underneath.
//
// Markup: components/overlay/html/overlay.html
//
// Style guide: Components.Overlay
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: $overlay-opacity;
  background-color: $overlay-background;
}
