////
/// @group Form
////

/// Size of space between form elements.
///
/// @type {Value|Values}
$form-spaces: em(16px) !default;

/// Radius of form fieldset group.
///
/// @type {Value}
$form-group-radius: radius(xsmall) !default;

/// Background color of form fieldset group.
///
/// @type {Value}
$form-group-background: color(lighter-gray) !default;

/// Border styles of form fieldset group.
///
/// @type {Value}
$form-group-border: 1px solid color(light-gray) !default;

/// Font size of legend in form fieldset group.
///
/// @type {Value}
$form-legend-font-size: em(12px) !default;

/// Font weight of legend in form fieldset group.
///
/// @type {Value}
$form-legend-weight: bold !default;

/// Text transform of legend in form fieldset group.
///
/// @type {Value}
$form-legend-text-transform: uppercase !default;