/** @define form */

@import 'variables';

// Form
//
// Component which strctures interactive controls like fields, selects or checkboxes.
//
// Markup: form.html
//
// Style guide: Structures.Form
.form {
  $this: &;

  // Form Group
  //
  // Element used to group several controls within a form block.
  //
  // Markup: form__group.html
  //
  // Style guide: Structures.Form.Group
	&__group {
		margin-left: 0;
		margin-right: 0;
		border-radius: $form-group-radius;
		background-color: $form-group-background;
		border: $form-group-border;
	}

  // Form Legend
  //
  // Represents a caption for the content of group element.
  //
  // Markup: form__legend.html
  //
  // Style guide: Structures.Form.Legend
	&__legend {
    margin-top: 0;
		font-size: $form-legend-font-size;
		font-weight: $form-legend-weight;
		text-transform: $form-legend-text-transform;
	}
}