/** @define checkbox */

// Checkbox
//
// Desc
//
// Markup: checkbox.html
//
// Style guide: Components.Checkbox
.checkbox {
  $this: #{&};

  &__input {
    display: none;

    &:checked {
      & + #{$this}__label {
        &:after {
            transform: translate(-25%, -50%) $checkbox-active-mark-transform;
        }
      }
    }
  }

  &__label {
    position: relative;
    padding-left: 1.5em;
    vertical-align: middle;

    &:active,
    &:focus,
    &:hover {
        &:before {
            background: $checkbox-active-background;
            border: $checkbox-active-border;
            box-shadow: $checkbox-active-shadow;
        }
    }

    &:after,
    &:before {
        content: "";
        position: absolute;
        top: 50%;
    }

    &:before {
        left: 0;
        margin-top: -#{$checkbox-size/2};
        width: $checkbox-size;
        height: $checkbox-size;
        background: $checkbox-background;
        border: $checkbox-border;
        border-radius: $checkbox-radius;
        box-shadow: $checkbox-shadow;
        transition: $checkbox-transition;
    }

    &:after {
        content: '';
        width: $checkbox-mark-size;
        height: $checkbox-mark-size/2;
        position: absolute;
        left: $checkbox-size/2;
        border: $checkbox-mark-width solid $checkbox-mark-color;
        border-top: none;
        border-right: none;
        background: transparent;
        transform-origin: 20% 50%;
        transition: $checkbox-mark-transition;
        transform: translate(-25%, -50%) $checkbox-mark-transform;
    }
  }
}