/** @define divider */

// Divider
//
// Grid system based on flexbox for building complex layouts.
//
// .divider--small - Desc
// .divider--large - Desc
//
// Markup: divider.html
//
// Style guide: Components.Divider
.divider {
    $size: map-get($divider-badge-sizes, $divider-badge-size);

    position: relative;
    z-index: 3;

    &:after {
        @include declarations($size);

        content: attr(data-text);
        line-height: map-get($size, 'height');

        box-sizing: content-box;
        background-color: $divider-badge-background;
        border-radius: $divider-badge-radius;
        box-shadow: $divider-badge-shadow;

        text-align: center;
    }

    @each $size, $declarations in $divider-badge-sizes {
        @if $size != $divider-badge-size {
            &--#{$size} {
                &:after {
                    @include declarations($declarations);

                    line-height: map-get($declarations, 'height');
                }
            }
        }
    }
}