/** @define input */

// Input
//
// Desc
//
// Markup: input.html
//
// Style guide: Components.Input
.input {
  line-height: inherit;

  font-family: $input-font-family;
  border-width: $input-border-width;
  border-style: $input-border-style;
  border-color: $input-border-color;
  border-radius: $input-radius;
  background-color: $input-background;
  box-shadow: $input-shadow;
  transition: $input-transition;

  &:focus {
    outline: $input-focus-outline;
    box-shadow: $input-focus-shadow;
    border-color: $input-focus-border-color;
  }
}