/** @define message */

// Message
//
// Grid system based on flexbox for building complex layouts.
//
// .segment--xsmall - Desc
// .segment--large - Desc
// .segment--xlarge - Desc
// .message--success - Desc
// .message--warning - Desc
// .message--info - Desc
// .message--error - Desc
// .message--hollow - Desc
// .message--hollow.message--success - Desc
// .message--hollow.message--warning - Desc
// .message--hollow.message--info - Desc
// .message--hollow.message--error - Desc
//
// Markup: message.html
//
// Style guide: Components.Message
.message {
  $this: #{&};

  $variant: map-get($message-variants, $message-variant);

  @include declarations($variant);

  box-shadow: $message-shadow;
  border-radius: $message-radius;

  &__title {
    display: block;
    color: $message-title-color;
    font-weight: $message-title-weight;
  }

  @each $variant, $declarations in $message-variants {
    @if $variant != $message-variant {
      &--#{$variant} {
        @include declarations($declarations);
      }
    }
  }

  &--hollow {
    $variant: map-get($message-hollow-variants, $message-hollow-variant);

    border-width: $message-hollow-border-width;
    border-style: $message-hollow-border-style;

    @include declarations($variant);

    background-color: transparent;

    @each $variant, $declarations in $message-hollow-variants {
      @if $variant != $message-hollow-variant {
        &#{$this}--#{$variant} {
          @include declarations($declarations);
        }
      }
    }
  }
}