/** @define modal */

// Modal
//
// Component for large dialog prompts which temporary covers entire viewport. Useful for displaying content whitch user should focus on.
//
// .container--small - Limits modal width to small size.
// .container--medium - Limits modal width to medium size.
// .container--large - Limits modal width to large size.
// .container--xlarge - Limits modal width to xlarge size.
// .container--xxlarge - Limits modal width to xxlarge size.
//
// Markup: modal.html
//
// Style guide: Components.Modal
.modal {
  $this: #{&};

  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  padding: $modal-space;

  // Modal Body
  //
  // Body of the modal. Element for its content.
  //
  // .panel--small - Modal body element with small paddings.
  // .panel--large - Modal body element with large paddings.
  // .panel--xlarge - Modal body element with xlarge paddings.
  //
  // Markup: modal__body.html
  //
  // Style guide: Components.Modal.Body
  &__body {
    box-shadow: $modal-shadow;
    background-color: $modal-background;
    border-radius: $modal-radius;
    border: $modal-border;

    & > * + * {
      border-top: $modal-segment-border;
    }
  }
}