/** @define modal */

// Modal
//
// Grid system based on flexbox for building complex layouts.
//
// .container--small    - Desc
// .container--medium   - Desc
// .container--large    - Desc
// .container--xlarge   - Desc
// .container--xxlarge  - Desc
//
// Markup: modal.html
//
// Style guide: Components.Modal
.modal {
    $this: #{&};

    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    padding: $modal-space;

    // Modal Body
    //
    // Grid system based on flexbox for building complex layouts.
    //
    // .panel--small - Desc
    // .panel--large - Desc
    // .panel--xlarge - Desc
    //
    // Markup: modal__body.html
    //
    // Style guide: Components.Modal.Body
    &__body {
        box-shadow: $modal-shadow;
        background-color: $modal-background;
        border-radius: $modal-radius;
        border: $modal-border;

        & > * + * {
            border-top: $modal-segment-border;
        }
    }
}