html {
  font-size: $font-size;
  line-height: $font-line-height;
}

body {
  font-family: $font-family-primary;
  color: $font-color;

  @if $font-antialiasing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

pre,
code,
kbd,
samp {
  font-family: $font-family-monospace;
}

small {
  font-size: $font-size-small;
}
