////
/// @group Functions
////

/// Collection of elevation levels.
///
/// @type {Map}
/// @prop {Values} 1
/// @prop {Values} 2
/// @prop {Values} 3
/// @prop {Values} 6
/// @prop {Values} 18
/// @prop {Values} 27
$elevators: (
  xsmall: 0 em(4px) em(3px) em(-3px) transparentize(black, 0.95),
  small: 0 em(5px) em(4px) em(-3px) transparentize(black, 0.9),
  medium: 0 em(6px) em(5px) em(-3px) transparentize(black, 0.9),
  large: 0 em(6px) em(12px) 0 transparentize(black, 0.8),
  xlarge: 0 em(18px) em(36px) 0 transparentize(black, 0.75),
  xxlarge: 0 em(27px) em(36px) 0 transparentize(black, 0.6),
) !default;

/// Default elevation level.
///
/// @type {Keyword}
$elevator: medium !default;
