////
/// @group General
////

/// Outputs mutable declarations defined in map.
///
/// @param {Map} $declarations
/// @param {Boolean} $mutate
///
/// @example scss - example
///   $map: ('color': red blue);
///
///   @include declarations-mutable($map)
///   @include declarations-mutable($map, true)
/// @example css - output
///   color: 'red';
///   color: 'blue';
@mixin declarations-mutable($declarations, $mutate: false) {
  @each $property, $value in $declarations {
    @if $mutate {
      #{$property}: #{nth($value, length($value))};
    }
    @else {
      #{$property}: #{nth($value, 1)};
    }
  }
}