////
/// @group Functions
////

/// Collection of spread values.
///
/// @type {Map}
/// @prop {Value} xsmall
/// @prop {Value} small
/// @prop {Value} medium
/// @prop {Value} large
/// @prop {Value} xlarge
/// @prop {Value} xxlarge
$spread-values: (
  xsmall: em(3px),
  small: em(6px),
  medium: em(9px),
  large: em(18px),
  xlarge: em(24px),
  xxlarge: em(36px),
) !default;

/// Default value of spread.
///
/// @type {Keyword}
$spread-value: medium !default;
