/** @define segment */

@import 'variables';

// Segment
//
// Component for providing visual inner space for the element.
//
// .segment--small  - Small variant of the paddings.
// .segment--medium - Medium variant of the paddings.
// .segment--xlarge - Xlarge variant of the paddings.
//
// Markup: objects/segment/html/segment.html
//
// Style guide: Objects.Segment
.segment {
  $size: map-get($segment-sizes, $segment-size);

  padding: $size;

  @each $name, $size in $segment-sizes {
    @if $name != $segment-size {
      &--#{$name} {
        padding: $size;
      }
    }
  }

  @each $breakpoint, $width in $breakpoint-sizes {
    @include breakpoint($breakpoint up) {
      @each $name, $size in $segment-sizes {
        &--#{$name}\@#{$breakpoint} {
          padding: $size;
        }
      }
    }
  }
}
