/** @define panel */

@import 'variables';

// Panel
//
// Encloses content in visualy separated sections. Helpful for drawing clearly separated blocks of content.
//
// .panel--scrollable - Makes all internal segments scrollable by adding a maximum height.
//
// Markup: components/panel/html/panel.html
//
// Style guide: Components.Panel
.panel {
  $this: &;

  border: $panel-border;
  background-color: $panel-background;

  & > * + * {
    border-top: $panel-segment-border;
  }

  // Panel Segment
  //
  // Allows you to divide the contents of the panel into separate sections.
  //
  // .panel__segment--scrollable - Limits height of the segment and makes content scrollable.
  //
  // Markup: components/panel/html/panel__segment.html
  //
  // Style guide: Components.Panel.Segment
  &__segment {
    position: relative;

    &--scrollable {
      max-height: $panel-scrollable-height;
      overflow-y: auto;
    }
  }

  &--scrollable {
    #{$this}__segment {
      max-height: $panel-scrollable-height;
      overflow-y: auto;
    }
  }
}
