/** @define visible */

// Visible
//
// Utility component for showing content at specified breakpoints.
//
// .visible@small   - Shows content at small breakpoint.
// .visible@medium  - Shows content at medium breakpoint.
// .visible@large   - Shows content at large breakpoint.
// .visible@xlarge  - Shows content at xlarge breakpoint.
// .visible@xxlarge - Shows content at xxlarge breakpoint.
//
// Markup: utilities/visible/html/visible.html
//
// Style guide: Utilities.Visible
.visible {
  display: block;

  @each $breakpoint, $width in $breakpoints {
    &\@#{$breakpoint} {
      display: none;

      @include breakpoint($breakpoint) {
        display: block;
      }
    }
  }
}
