/** @define form */

// Form
//
// Desc
//
// Markup: form.html
//
// Style guide: Structures.Form
.form {
  $this: #{&};

	& > * + * {
		margin-top: $form-spaces;
	}

	&__group {
		margin-left: 0;
		margin-right: 0;
		border-radius: $form-group-radius;
		background-color: $form-group-background;
		border: $form-group-border;

    & > *:not(legend) + * {
      margin-top: $form-spaces;
    }
	}

	&__legend {
		font-size: $form-legend-font-size;
		font-weight: $form-legend-weight;
		text-transform: $form-legend-text-transform;
	}
}