/** @define image */

// Image
//
// Grid system based on flexbox for building complex layouts.
//
// .image--expanded - Desc
// .image--rounded - Desc
// .image--circular - Desc
// .image--top - Desc
// .image--middle - Desc
// .image--bottom - Desc
// .image--text-top - Desc
// .image--text-bottom - Desc
//
// Markup: image.html
//
// Style guide: Objects.Image
.image {
    display: inline-block;
    max-width: 100%;
    height: auto;

    &--expanded {
        width: 100%;
    }

    &--rounded {
        border-radius: $image-radius-rounded;
    }

    &--circular {
        border-radius: $image-radius-circular;
    }

    &--top {
        vertical-align: top;
    }

    &--middle {
        vertical-align: middle;
    }

    &--bottom {
        vertical-align: bottom;
    }

    &--text-top {
        vertical-align: text-top;
    }

    &--text-bottom {
        vertical-align: text-bottom;
    }
}