////
/// @group Gutter
////

/// Collection of gutter sizes.
///
/// @type {Map}
$gutter-sizes: (
  small: space(small),
  medium: space(medium),
) !default;

/// Default gutter size.
///
/// @type {Keyword}
$gutter-size: medium !default;
