/** @define divider */

@import 'variables';

// Divider
//
// Component for dividing group elements with space and labeled badge. Especially useful in pair with group component.
//
// .divider--small - Divider with smaller space.
// .divider--large - Divider with larger space.
//
// Markup: components/divider/html/divider.html
//
// Style guide: Components.Divider
.divider {
  $size: map-get($divider-badge-sizes, $divider-badge-size);

  position: relative;
  z-index: 3;

  &::after {
    content: attr(data-text);
    line-height: map-get($size, 'height');
    text-align: center;
    box-sizing: content-box;
    background-color: $divider-badge-background;
    border-radius: $divider-badge-radius;

    @include declarations($size);
  }

  @each $size, $declarations in $divider-badge-sizes {
    @if $size != $divider-badge-size {
      &--#{$size} {
        &::after {
          line-height: map-get($declarations, 'height');

          @include declarations($declarations);
        }
      }
    }
  }
}
