<div class="field field--xsmall">
  <label class="field__label">Select</label>

  <select class="field__input input select" name="select">
    <option>Option #1</option>
    <option>Option #2</option>
    <option>Option #3</option>
  </select>
</div>

<div class="field field--small">
  <label class="field__label">Select</label>

  <select class="field__input input select" name="select">
    <option>Option #1</option>
    <option>Option #2</option>
    <option>Option #3</option>
  </select>
</div>

<div class="field field--large">
  <label class="field__label">Select</label>

  <select class="field__input input select" name="select">
    <option>Option #1</option>
    <option>Option #2</option>
    <option>Option #3</option>
  </select>
</div>

<div class="field field--xlarge">
  <label class="field__label">Select</label>

  <select class="field__input input select" name="select">
    <option>Option #1</option>
    <option>Option #2</option>
    <option>Option #3</option>
  </select>
</div>

