/** @define spread */

// Gutter
//
// Utility component for adding horizontal space between elements.
//
// .spread--xsmall  - Adds xsmall level of a horizontal distance.
// .spread--small   - Adds small level of a horizontal distance.
// .spread--large   - Adds large level of a horizontal distance.
// .spread--xlarge  - Adds xlarge level of a horizontal distance.
// .spread--xxlarge - Adds xxlarge level of a horizontal distance.
//
// Markup: utilities/spread/html/spread.html
//
// Style guide: Utilities.Gutter
.spread {
  & > * + * {
    margin-left: 0;
  }

  @each $size, $declaration in $spread-values {
    &--#{$size} {
      & > * + * {
        margin-left: $declaration;
      }
    }
  }

  @each $breakpoint, $width in $breakpoint-sizes {
    @each $size, $declaration in $spread-values {
      &--#{$size}\@#{$breakpoint} {
        & > * + * {
          @include breakpoint($breakpoint up) {
            margin-left: $declaration;
          }
        }
      }
    }
  }

  @each $breakpoint, $width in $breakpoint-sizes {
    &--none\@#{$breakpoint} {
      @include breakpoint($breakpoint up) {
        & > * + * {
          margin-left: 0;
        }
      }
    }
  }
}
