/** @define waffle */

@import 'variables';

// Waffle
//
// Grid system based on flexbox for building complex layouts.
//
// Markup: objects/waffle/html/waffle.html
//
// Style guide: Objects.Waffle
.waffle {
  $this: &;
  $size: map-get($waffle-sizes, $waffle-size);

  display: flex;
  flex-wrap: wrap;
  margin: -#{$size / 2};

  &__cell {
    padding: $size / 2;
  }

  @each $name, $size in $waffle-sizes {
    @if $name != $waffle-size {
      &--#{$name} {
        margin: -#{$size / 2};

        #{$this}__cell {
          padding: $size / 2;
        }
      }
    }
  }

  @each $breakpoint, $width in $breakpoints {
    @include breakpoint($breakpoint up) {
      @each $name, $size in $waffle-sizes {
        &--#{$name}\@#{$breakpoint} {
          margin: -#{$size / 2};

          #{$this}__cell {
            padding: $size / 2;
          }
        }
      }
    }
  }

  &--inline {
    display: inline-flex;
  }
}
