<div class="field field--xsmall">
  <label for="XsmallField" class="field__label label">Xsmall Field</label>
  <input id="XsmallField" class="field__input input" type="text">
</div>

<div class="field field--small">
  <label for="SmallField" class="field__label label">Small Field</label>
  <input id="SmallField" class="field__input input" type="text">
</div>

<div class="field field--large">
  <label for="LargeField" class="field__label label">Large Field</label>
  <input id="LargeField" class="field__input input" type="text">
</div>

<div class="field field--xlarge">
  <label for="XlargeField" class="field__label label">Xlarge Field</label>
  <input id="XlargeField" class="field__input input" type="text">
</div>
