<div class="field field--success">
  <input id="text" class="field__input" type="text" aria-describedby="caption">
  <small id="caption" class="field__caption">Lorem ipsum dolor sit amet.</small>
</div>

<div class="field field--warning">
  <input id="text" class="field__input" type="text" aria-describedby="caption">
  <small id="caption" class="field__caption">Lorem ipsum dolor sit amet.</small>
</div>

<div class="field field--error">
  <input id="text" class="field__input" type="text" aria-describedby="caption">
  <small id="caption" class="field__caption">Lorem ipsum dolor sit amet.</small>
</div>

<div class="field field--info">
  <input id="text" class="field__input" type="text" aria-describedby="caption">
  <small id="caption" class="field__caption">Lorem ipsum dolor sit amet.</small>
</div>
