<div class="field field--success">
  <label for="SuccessField" class="field__label label">Success Field</label>
  <input id="SuccessField" class="field__input" type="text" aria-describedby="Caption">
  <small id="Caption" class="field__caption">Lorem ipsum dolor sit amet.</small>
</div>

<div class="field field--warning">
  <label for="WarningField" class="field__label label">Warning Field</label>
  <input id="WarningField" class="field__input" type="text" aria-describedby="WarningCaption">
  <small id="WarningCaption" class="field__caption">Lorem ipsum dolor sit amet.</small>
</div>

<div class="field field--error">
  <label for="ErrorField" class="field__label label">Error Field</label>
  <input id="ErrorField" class="field__input" type="text" aria-describedby="ErrorCaption">
  <small id="ErrorCaption" class="field__caption">Lorem ipsum dolor sit amet.</small>
</div>

<div class="field field--info">
  <label for="InfoField" class="field__label label">Info Field</label>
  <input id="InfoField" class="field__input" type="text" aria-describedby="InfoCaption">
  <small id="InfoCaption" class="field__caption">Lorem ipsum dolor sit amet.</small>
</div>
